h1,h2 {
	text-align: center;
}

.color-red {
	color: red;
}

.big-text {
	font-size: 30px;
}

#rounded-img {
	border-radius: 50px;
}

body {
	background-image: url("pisica.jpg");
}

.tabel {
  background-color: #9DDEE0;
  width: 300px;
  padding: 50px;
  margin: 10px;
}